body {
    /*  قم بادراح صورة الكويت تبرمج ك خلفية للموقع */

}

.card {
    
    /* قم ب انشاء حواف للبطاقة ب استعمال box shadow */
    
    /* قم بتنعيم زوايا البطاقة */
    
    background-color: white;
    width: 400px;
    height: 500px;
}

.center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.logo {
    /* قم بجعل الصورة دائرية */

    /* قم ب انشاء حواف للصورة ب استعمال box shadow */

    width: 120px;
    height: 120px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

/* قم بأضافة خاصية المرور على  ، على الكلاس بالأسفل */

.hover {
    /*   قم ب اضافة ظلال للنص  */

}
