
body {
    /* background-color: #f2f2f2; */
    /* background-size: cover;
    background-image: url(https://cdn.discordapp.com/attachments/744343866492059678/755178046151065632/4107754.png); */
    font-family: 'Cairo', sans-serif;
    
    text-align: center;
    
}
.card {
    width: 400px;
    height: 500px;
    border-radius: 12px;
    box-shadow: 10px 10px 28px 3px rgba(227,224,227,1);
    background-color: white;
}
.center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
img {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    box-shadow: 10px 10px 28px 3px rgba(227,224,227,1);
    margin-top: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.hover:hover {
    text-shadow:  1px 1px #4b94fa;
}
a {
    color: black;
    text-decoration: none;
    
}